<div class="cards">
  <div class="card">
    <div class="card__insert">
      <div class="card__header">
        <div class="card__suptitle">Сказочное заморское яство</div>
        <h2 class="card__title">Нямушка</h2>
        <div class="card__subtitle">с фуа-гра</div>
        <div class="card__description">
          <p class="card__description_dose"><span>10</span> порций</p>
          <p class="card__description_bonus"> мышь в подарок</p>
        </div>
      </div>
      <picture class="card__img">
        <source srcset="./img/cat.avif">
        <source srcset="./img/cat.webp">
        <img src="./img/cat.png" alt="Кот">
      </picture>
      <div class="card__label">
        <span>0,5</span>
        <span>кг</span>
      </div>
    </div>
    <p class="card__pay">
      Чего сидишь? Порадуй котэ, <a href="" class="card__pay_link">купи.</a>
    </p>
  </div>

  <div class="card">
    <div class="card__insert">
      <div class="card__header">
        <div class="card__suptitle">Сказочное заморское яство</div>
        <h2 class="card__title">Нямушка</h2>
        <div class="card__subtitle">с рыбой</div>
        <div class="card__description">
          <p class="card__description_dose"><span>40</span> порций</p>
          <p class="card__description_bonus"><span>2</span> мыши в подарок</p>
        </div>
      </div>
      <picture class="card__img">
        <source srcset="./img/cat.avif">
        <source srcset="./img/cat.webp">
        <img src="./img/cat.png" alt="Кот">
      </picture>
      <div class="card__label">
        <span>2</span>
        <span>кг</span>
      </div>
    </div>
    <p class="card__pay">
      Чего сидишь? Порадуй котэ, <a href="" class="card__pay_link">купи.</a>
    </p>
  </div>

  <div class="card">
    <div class="card__insert">
      <div class="card__header">
        <div class="card__suptitle">Сказочное заморское яство</div>
        <h2 class="card__title">Нямушка</h2>
        <div class="card__subtitle">с курой</div>
        <div class="card__description">
          <p class="card__description_dose"><span>100</span> порций</p>
          <p class="card__description_bonus"><span>5</span> мышей в подарок заказчик доволен</p>
        </div>
      </div>
      <picture class="card__img">
        <source srcset="./img/cat.avif">
        <source srcset="./img/cat.webp">
        <img src="./img/cat.png" alt="Кот">
      </picture>
      <div class="card__label">
        <span>5</span>
        <span>кг</span>
      </div>
    </div>
    <p class="card__pay">
      Чего сидишь? Порадуй котэ, <a href="" class="card__pay_link">купи.</a>
    </p>
  </div>
</div>