.cards {
  display:flex;
  justify-content:space-between;
  align-items:center;

  @media (max-width: 1092px) {
    flex-wrap: wrap;
    justify-content: center;
    gap:50px;
  }
}

.card {

  &__insert{
    position: relative;
    width:100%;
    max-width: 320px;
    height: 480px;
    border: 4px solid $blue;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: $background-color;
    color: $black;
    clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0 100%, 0% 11%);
    padding: 21px 54px 0 51px;
    margin-bottom: 15px;
    overflow: hidden;
  }

  &__header {
  }

  &__suptitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $text-light;
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: $black;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: $black;
    margin-bottom: 15px;
  }

  &__description {
    width:100%;
    max-width:150px;
    font-size: 14px;
    line-height: 16px;
    color: $text-light;

    & span{
      font-weight: 700;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    bottom: -3px;
  }

  &__label {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 80px;
    height: 80px;
    border-radius:50%;
    background-color: $blue;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & span:nth-child(1){
      font-weight: 400;
      font-size: 42px;
      line-height: 22px;
      color: $white;
      margin-bottom: 6px;
    }

    & span:nth-child(2){
      font-weight: 400;
      font-size: 21px;
      line-height: 22px;
      color: $white;
    }
  }

  &__pay{
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: $white;
    text-align: center;

    &_link{
      width: 100%;
      color: $blue;
      border-bottom: 1px dashed $blue;
    }
  }
}