// * base
$font-family: 'Trebuchet MS', sans-serif;
$content-width: 1120px;
$container-offset: 15px;
$container-width: calc($content-width + ($container-offset * 2));

// ! colors
$white: #fff;
$background-color: #f2f2f2;
$black: #000;
$text: #242424;
$text-light: #666;
$blue:#1698D9;
